<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kei.android.phone.cellhistory"
    android:versionCode="20"
    android:versionName="2.10" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="true"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseThemeDark"
        android:name=".CellHistoryApp" >
        <activity
            android:name="org.kei.android.phone.cellhistory.activities.CellHistoryPagerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.kei.android.atk.view.chooser.FileChooserActivity"/>
        <activity
            android:name="org.kei.android.phone.cellhistory.activities.LogActivity">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.Preferences">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.PreferencesTimers">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.PreferencesUI">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.PreferencesChart">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.PreferencesGeolocation">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.PreferencesGeolocationOpenCellID">
        </activity>
        <activity
            android:name="org.kei.android.phone.cellhistory.prefs.PreferencesRecorder">
        </activity>
    </application>

</manifest>
